.quoteblock, .verseblock
  .attribution
    color: color('body-txt-transparentize-4')

    cite
      color: color('body-txt-transparentize-6')

.quoteblock
  blockquote
    color: color('brand')

    &::before
      font-family: $font-family-heading
      color: color('brand-transparentize-3')

    p
      color: color('brand')

.verseblock
  pre
    color: color('brand')
