.exampleblock .content,
.sidebarblock,
.literalblock pre, .listingblock pre:not(.highlight), .listingblock pre[class=highlight], .listingblock pre[class^="highlight "], .listingblock pre.CodeRay, .listingblock pre.prettyprint
  background: $block-bg-color
  color: $block-txt-color
  border-color: $border-color
  border-style: solid
  border-width: $border-width

  +box-shadow
