// colors
$color-brand: #ff6961 !default;
$color-tip: #43b929 !default;
$color-note: #2d7dd2 !default;
$color-important: #e40046 !default;
$color-caution: #9f00c5 !default;
$color-warning: #f70 !default;
$color-body-bg: #161618 !default;
$color-body-txt: #eee !default;
$color-block-bg: #222 !default;
$color-block-txt: #d8d2cd !default;
$color-kbd-bg: #0000 !default;
$color-kbd-txt: #d8d2cd !default;
$color-a-link: #45b0e6 !default;
$color-a-visited: adjust-hue(#45b0e6, 100deg) !default;
$color-border: transparentize(#8c7d70, 0.5) !default;

$colors: (
  brand: $color-brand,
  tip: $color-tip,
  note: $color-note,
  important: $color-important,
  caution: $color-caution,
  warning: $color-warning,
  body-bg: $color-body-bg,
  body-txt: $color-body-txt,
  block-bg: $color-block-bg,
  block-txt: $color-block-txt,
  kbd-bg: $color-kbd-bg,
  kbd-txt: $color-kbd-txt,
  a-link: $color-a-link,
  a-visited: $color-a-visited,
  border: $color-border,
);

// dark color scheme
$colors-scheme-dark: ();
$colors-dark: map-merge($colors, $colors-scheme-dark);

// light color scheme
$colors-scheme-light: (
  body-bg: #eee,
  body-txt: #111,
  block-bg: #ddd,
  block-txt: #222,
);
$colors-light: map-merge($colors, $colors-scheme-light);

// color schemes
$colors-schemes: (dark: $colors-dark, light: $colors-light);

// default color scheme, has to be one of the keys of $colors-schemes
$colors-scheme-default-key: "dark" !default;
$colors-scheme-default: map-get($colors-schemes, $colors-scheme-default-key);